:root{
    --primary-color: #e60012;
    --primary-color-dark: #aa1111;
    --background-color: #f5f5f5;
    --text-color: #333333;
    --link-color: #ff7eb2;
    --link-hover-color: #c5517f;
    --border-color: #cccccc;
    --footer-color: #777777;
    --shadow-color: rgba(0, 0, 0, 0.5);

}

body {
    font-family: 'Klee One', serif;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 30px;
}

header {
    font-family: 'Kaisei Opti', serif;
    text-align: center;
    padding: 48px 0;
    background: var(--primary-color);
    color: #ffffff;
    border-radius: 20px;
    margin-bottom: 40px;
}

header h1 {
    font-size: 28px;
    margin: 0 0 10px 0;
    letter-spacing: 1px;
}

header p {
    text-align: center;
    font-size: 14px;
    opacity: 0.9;
    margin: 0 auto;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--border-color);
    margin: 40px 0;
}

h2 {
    font-family: 'Kaisei Opti', serif;
    font-size: 22px;
    color: var(--primary-color);
    border-left: 10px solid var(--primary-color);
    padding-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

h3,
h4 {
    font-family: 'Kaisei Opti', serif;
    font-size: 18px;
    color: var(--text-color);
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
}

ul {
    padding-left: 32px;
}

li {
    margin-bottom: 8px;
}

p {
    padding-left: 8px;
    margin-bottom: 1.5rem;
    text-align: justify;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

iframe {
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 5px 20px var(--shadow-color);
}

footer {
    text-align: center;
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid var(--border-color);
    color: var(--footer-color);
}

@media screen and (max-width: 512px) {
    body {
        padding: 40px 20px;
    }

    header {
        padding: 30px 20px;
    }

    header h1 {
        font-size: 22px;
    }

    iframe {
        width: 100%;
        max-width: 315px;
        height: auto;
        aspect-ratio: 315 / 560;
    }

    #scrollTopBtn {
        padding: 12px;
        font-size: 14px;
        bottom: 15px;
        right: 15px;
    }
}

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: 0 4px 10px var(--shadow-color);
    transition: background-color 0.3s, transform 0.2s;
}

#scrollTopBtn:hover {
    background-color: var(--primary-color-dark);
    transform: scale(1.1);
}